.mage{
    height: 40px;
    width: 40px;
}
.left{
    background-color: gray;
}
b{
color: white;
}
.blac{
    color: black;
}
.main1{
    display: flex;
    
    padding-top: 70px;
}

ol{
    display: flex;
    list-style: none;
}
li{
    padding-right: 20px;
}

.menu{
    display:none;
}
.links ol li:hover .menu{
    display: block;
}
ul{
    list-style: none;
}
.menu1{
    display: none;
}
.links ol li:hover .menu1{
    display: block;
}
.menu2{
    display: none;

}
.links ol li:hover .menu2{
    display: block;
}
.jc{
    height: 350px;
    width: 100px;
}
.ks{
    height: 350px;
    width: 100px;
}
.ns{
    height:350px;
    width: 100px;
}


i{
    padding-bottom: 50px;
}
.links{
    padding-top:40px;
}